---
import "modern-normalize/modern-normalize.css";
import "../main.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>
        <img
            src="/assets/logo.png"
            alt="3636"
            width="100"
            draggable="false"
        />
    </h1>
    <br />
    <div class="loading" id="message">
        <div class="lds-check"></div>
        <div class="lds-dual-ring">
            <p class="scr-only">Loading...</p>
        </div>
        <div id="wait-msg">
            <h2>Come back soon!</h2>
            <p>
                Come to this page during an event to watch Generals Robotics
                play live.
            </p>
        </div>
        <div id="error-msg">
            <h2>Oh no!</h2>
            <p>
                Something went wrong, so we can't automatically send you to the
                stream. You might have luck finding it on
                <a href="https://www.thebluealliance.com/team/3636">
                    The Blue Alliance.
                </a>
            </p>
            <p>(Are you a nerd? Check the developer console.)</p>
        </div>
    </div>
    <p class="bottom">
        Contact me:
        <a href="mailto:lewis@lewismcclelland.me">lewis@lewismcclelland.me</a>
    </p>
</Layout>
<script>
    const message = document.querySelector<HTMLDivElement>("#message")!;

    function parseTBADate(str: string): Date {
        const components = str.split("-").map(Number);
        return new Date(components[0], components[1] - 1, components[2]);
    }

    const token =
        "so0SvVKeaahtln5ZpW01gMUqPYh6BTNt62v4rdS8llC8X0T2U2mEtcHlA4Zi7g9f";
    const team = "frc3636";
    fetch(`https://www.thebluealliance.com/api/v3/team/${team}/events`, {
        headers: {
            "X-TBA-Auth-Key": token,
        },
    })
        .then((res) => res.json())
        .then((events) => {
            let currentEvent: any;
            for (const event of events) {
                const startDate = parseTBADate(event.start_date);
                const endDate = parseTBADate(event.end_date);
                // make it end at midnight
                endDate.setDate(endDate.getDate() + 1);
                const now = Date.now();

                if (
                    startDate.getTime() < now &&
                    endDate.getTime() > now &&
                    (event.webcasts as any[]).some(
                        (webcast) => webcast.type === "twitch",
                    )
                ) {
                    currentEvent = event;
                    break;
                }
            }
            if (!currentEvent) {
                message.className = "wait";
                return;
            }
            const webcast = currentEvent.webcasts.find(
                (webcast: any) => webcast.type === "twitch",
            )!;
            message.className = "done";
            location.href = "https://twitch.tv/" + webcast.channel;
        })
        .catch((err) => {
            console.error(err);
            message.className = "error";
        });
</script>
