---
import "modern-normalize/modern-normalize.css";
import "../main.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Lewis McClelland</h1>
    <p>
        Contact me:
        <a href="mailto:lewis@lewismcclelland.me">lewis@lewismcclelland.me</a>
    </p>
</Layout>
