---
import "modern-normalize/modern-normalize.css";
import "../main.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>3636.live</h1>
    <p>
        This website will redirect you to the current Generals Robotics match
        live stream in the future!
    </p>
    <p>
        Contact me:
        <a href="mailto:lewis@lewismcclelland.me">lewis@lewismcclelland.me</a>
    </p>
</Layout>
