@import "./loading.css";

@font-face {
    font-family: Loos;
    src: url(fonts/LoosLCGeo-Variable-Web.woff2);
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url(fonts/Montserrat-VF.woff2);
    font-display: swap;
}

:root {
    --col-white: #ffffff;
    --col-black: #0a0a0a;
    --col-dgray: #2d2a2b;
    --col-blue: #1d48a3;
    --font-heading: "Loos", sans-serif;
    --font-subheading: "Montserrat", sans-serif;
    --font-body: "Montserrat", sans-serif;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-body);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--col-black);
    color: var(--col-white);
    width: 75ch;
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    body {
        padding: 3rem 2rem;
    }
}

a {
    color: currentColor;
    transition: text-decoration 0.2s ease-in-out;
}

a:hover {
    text-decoration: var(--col-blue) underline;
}

h1,
h2 {
    font-family: var(--font-heading);
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
    color: var(--col-white);
    font-size: 3rem;
    margin: 1rem;
}

.footer {
    margin: auto 0 0 0;
    text-align: center;
    font-size: 1rem;
}
