@import "./loading.css";

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 5rem;
}

a {
    color: white;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.bottom {
    margin: auto 0 0 0;
}
